#background .imge{
    background-image: url(../images/slider/subbanner.png);
}
.padding{
    padding-top: 6em;
}
.paddingimg{
    padding-top: 10px;
    
}
.awarealign{
    color: black;
   
}
#fsize {
     color:black;
    text-align:justify;
}
.flaotleft{
    float: left;
}
img{
    width:100%;
}