#pageWrapper > footer > div.container > div:nth-child(2), .doctor_page_fborder {
    border: 2px solid white;
    border-radius: 8px;
}
#pageWrapper > footer > div.container > div:nth-child(2) > div:nth-child(1) > a.address > h3{
    padding-bottom: 12px;
}
#pageWrapper > footer > div.container > div:nth-child(2) > a > div > div > address{
    margin-top: 15px;
}
#pageWrapper > footer > div.container > div:nth-child(2) > div:nth-child(3), .doctor_page_fborder_cline , .corporate_page_fborder_cline{
    border-right: thin solid white;
}
#pageWrapper > footer > div.container > div:nth-child(2) > div:nth-child(3) > iframe  {
    border:0; 
    margin-top: 12px;
}   
#pageWrapper > footer > div.container > div:nth-child(2) > div:nth-child(4) > a > h3 {
    padding-bottom: 12px;
}
#pageWrapper > footer > div.container > div:nth-child(2) > div:nth-child(4) > a > img , .doctor_page_img , .corporate_page_img{
    height: 169.801px;
}
#pageWrapper > footer > div.container > div:nth-child(2) > div.col-md-2.twitter-widget > div > a > address {
    margin-top: 15px;
}
#pageWrapper > footer > div.container > div:nth-child(2) > div:nth-child(6) > iframe {
    border:0;
    margin-top: 12px;
}
#pageWrapper > footer > div.sub-footer > div > h4 , .doctor_page_ctext, .corporate_page_ctext{
    font-size: 13px;
    white-space: nowrap;
}