@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon { text-align: justify; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #153775; vertical-align: middle; }
.box > .icon:hover > .image { background: #e34855; }
.box > .icon > .image > i { font-size: 49px !important; color: #fff !important;padding: 12px 1px 0px 8px; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Open Sans", Arial, sans-serif!important; font-size: 37px !important; color: #222; font-weight: 600; text-align: center;}
.box > .icon > .info > p { font-family: "Open Sans", Arial, sans-serif!important; font-size: 20px !important; color: #000; line-height: 1.5em; margin: 20px;}
.box > .icon > .info > li { font-family: "Open Sans", Arial, sans-serif!important; font-size: 20px !important; color: #000; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Open Sans", Arial, sans-serif!important; font-size: 12px; color: #fff; line-height: 12px; text-transform: uppercase; text-decoration: none; background-color: #153775;padding: 6px 8px; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #e34855; }
.box .space { height: 100px; }
